//  colors
$honey-yellow: #ffb703;
$orange: #fb8500;
$trypan-blue: #390099;
$jazzberry-jam: #9e0059;
$red-crayola: #ff0054;
$mint-cream: #f1f7ed;
$dark-color: #333;

// font
$poppins: 'Poppins';

// breakpoints
$medium: 768px;
$large: 1024px;
$x-large: 1900px;
