//  colors
$light-cornflower-blue: #8ecae6;
$blue-green: #219ebc;
$prussian-blue: #023047;
$honey-yellow: #ffb703;
$orange: #fb8500;

// font
$poppins: 'Poppins';

// breakpoints
$medium: 768px;
$large: 1024px;
$x-large: 1900px;
