@use '../abstracts/index' as abs;

.about-us,
.services,
.testimonials,
.contact {
  padding: 6rem 2rem 0;
  text-align: center;

  .underline {
    border-bottom: 2px solid abs.$trypan-blue;
    padding-bottom: 0.3rem;
  }
  .subtext {
    padding: 2rem;
  }
}

.contact {
  padding-bottom: 6rem;
}

.img-container {
  margin: 0;
}

@include abs.media-md {
  .subtext {
    margin: 1.5rem 0;
    // background-color: red;
  }
}
