@use '../abstracts/index' as abs;

.statistics {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  // justify-content: space-around;
  // height: auto;
  width: 100%;
}

.info-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  // padding: 0 1rem;
  // width: 100%;

  &__card {
    display: flex;
    flex-direction: column;
    height: 6rem;
    text-align: left;
    justify-content: space-between;
    align-items: left;
    border-left: 3px solid abs.$trypan-blue;
    padding: 1rem;
    width: 7rem;
    border-radius: 0 8px 8px 0;

    h3 {
      font-weight: 700;
      font-size: 1.4rem;
    }

    p {
      color: abs.$dark-color;
      font-size: 0.8rem;
      font-weight: 700;
    }
  }
}

.woman-img {
  object-fit: cover;
  height: 20rem;
  width: 100%;
  box-shadow: 5px 5px 25px 5px #a9a9a9;
}

@include abs.media-sm {
  .info-stats {
    gap: 2rem;

    &__card {
      width: 8rem;
    }
  }

  .woman-img {
    width: 20rem;
  }
}

@include abs.media-md {
  .statistics {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // width: 90%;
    // background-color: red;
    // margin: 0 auto;
    // place-items: center;
  }
}
