@use '../abstracts/index' as abs;

.header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 4rem;
  z-index: 100;
  padding: 1rem;
  background-color: abs.$dark-color;
}

.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
  position: absolute;
  z-index: 90;
  color: abs.$mint-cream;
  letter-spacing: 0.1rem;
}

.header-transparent {
  width: 100%;
  position: fixed;
  top: 0;
  height: 4rem;
  z-index: 100;
  padding: 1rem;
  background-color: transparent;
  @include abs.transition-ease-in-out;
}

@include abs.media-lg {
  .header {
    height: 5.5rem;
  }

  .header-transparent {
    height: 5.5rem;
  }

  .logo {
    font-size: 2rem;
    left: 2rem;
    top: 1.9rem;
  }
}
