@use '../abstracts/index' as abs;

.hero {
  height: 100vh;
  background: linear-gradient(to right, rgba(#333, 0.6), rgba(#333, 0.3)),
    url('@assets/img/hero-img.jpg') no-repeat left top;
  background-size: cover;

  &__elements {
    display: grid;
    place-items: center;
    gap: 2rem;
    text-align: center;
    padding: 10rem 1rem;
    color: abs.$mint-cream;

    h2 {
      font-size: 2.5rem;
      letter-spacing: 0.08rem;
    }

    .copy-1 {
      color: abs.$honey-yellow;
    }
    .copy-2 {
      border-bottom: 3px solid abs.$mint-cream;
      // padding-bottom: 0.1rem;
    }

    h3 {
      font-weight: 300;
      letter-spacing: 0.2rem;
    }
  }

  &__cta {
    color: abs.$mint-cream;
    text-decoration: none;
    border: 2px solid abs.$mint-cream;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1rem;
    visibility: hidden;
  }

  &__chevron {
    font-size: 2.5rem;
    color: abs.$mint-cream;
    visibility: hidden;
  }
}

@include abs.media-sm {
  .hero__cta,
  .hero__chevron {
    visibility: visible;
  }
}

@include abs.media-md {
  .hero__elements {
    gap: 3rem;
  }
}

@include abs.media-xl {
  .hero__elements {
    padding-top: 20rem;
  }
}
