@use '../abstracts/index' as abs;

.services__cards {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
  place-items: center;

  .card {
    background-color: abs.$platinum;
    // width: 18rem;
    width: 100%;
    // height: 16rem;
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    padding: 1.7rem;
    text-align: justify;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 1px #a9a9a9;

    h3 {
      padding: 0.6rem 0;
    }
  }
}

.icon {
  font-size: 2rem;
}

.first-letter {
  color: abs.$trypan-blue;
}

@include abs.media-sm {
  .services__cards .card {
    width: 18rem;
  }
}

@include abs.media-md {
  .services__cards {
    grid-template-columns: repeat(2, 1fr);
    // place-items: center;
    width: 40rem;
    margin: 0 auto;
    gap: 4rem;

    .card {
      height: 100%;
    }
  }
}
